<h2>Study Questions</h2>
<ul>
  <li *ngFor="let question of questions">
    <a [routerLink]="['/questions', question.id]">{{ question.questionTitle }}</a>
    <button (click)="addToFavorites(question)">Add to Favorites</button>
    <button (click)="removeQuestion(question.id)">Remove question</button>
  </li>
</ul>


<!-- Add a form for adding a new question -->
<form (ngSubmit)="addQuestion()">
  <h3>Add Question</h3>
  <input type="text" [(ngModel)]="newQuestion.questionTitle" name="questionTitle" placeholder="Question Title">
  <input type="text" [(ngModel)]="newQuestion.answer" name="answer" placeholder="Answer">
  <button type="submit">Add Question</button>
</form>